<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td>
            <input type="text" name="username" value="" placeholder = "user name">
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" name="password" value="" placeholder = "password">
          </td>
        </tr>
      </table>
      <div class="error">
        {{error}}
      </div>
      <input type="submit">
      <a href="/signup"><input type="button" name="Signup" value="Signup"/></a>
    </form>
  </body>

</html>
