<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino Pro - Dashboard</title>

    <link href="{{STACTIC_URL}}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STACTIC_URL}}/static/css/datepicker3.css" rel="stylesheet">
    <link href="{{STACTIC_URL}}/static/css/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
<link href="css/rgba-fallback.css" rel="stylesheet">
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->



</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Stock</span>Predictor</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li><a href="/stockPrediction/stockPrediction/"><span class="glyphicon glyphicon-stats"></span> Stock Prediction</a></li>
        <li class="active"><a href="widgets.html"><span class="glyphicon glyphicon-tasks"></span> stock manage</a></li>
        <li><a href="charts.html"><span class="glyphicon glyphicon-user"></span> user info</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="/stockPrediction/login/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Stock Predicion</li>
        </ol>
    </div><!--/.row-->

    <div class="row row-margin-top">
        <div class="col-xs-12 col-md-9">
            <div class="col-md-5 panel-widget">
                <div class="row no-padding">
                    <div class="col-lg-12 widget-right">
                        <div class="large">SELECT THE QUERY</div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <select id = "stock-select"  class="form-control">
                    <option value="1">Show the list of all companies in the database along with their latest stock price</option>
                    <option value="2">Get the highest stock price of Google in the last ten days</option>
                    <option value="3">Average stock price of Microsoft in the latest one year</option>
                    <option value="4">Lowest stock price for each company in the latest one year</option>
                    <option value="5">List the ids of companies along with their name who have the average stock price lesser than the lowest of Google in the latest one year</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg btn-outline pull-right margin" onclick="getQuery(this.form)">Get the result</button>
        </div>
    </div>
    <div class="row row-margin-top">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Query result</div>
                <div id = 'div' class="panel-body">
                    
                </div>
            </div>
        </div>
    </div><!--/.row-->





</div>	<!--/.main-->

<script src="{{STACTIC_URL}}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{STACTIC_URL}}/static/js/bootstrap.min.js"></script>
<script src="{{STACTIC_URL}}/static/js/chart.min.js"></script>
<script src="{{STACTIC_URL}}/static/js/chart-data.js"></script>
<script src="{{STACTIC_URL}}/static/js/easypiechart.js"></script>
<script src="{{STACTIC_URL}}/static/js/easypiechart-data.js"></script>
<script src="{{STACTIC_URL}}/static/js/bootstrap-datepicker.js"></script>
<script src="{{STACTIC_URL}}/static/js/custom.js"></script>
<script>
    function getQuery(form){
  document.getElementById('div').innerHTML = ""
  
  
      // 使用 $("<table></table>") 生成一个 table
 
        var link = ""
        var val = document.getElementById('stock-select').value
        if(val == '1'){
          link = 'http://127.0.0.1:8000/api/latestOneyearstock/?format=json'
        }
        if(val == '2'){
          link = 'http://127.0.0.1:8000/api/highestLastnDays/?name=GOOG&day=10 '
        }
        if(val == '3'){
          link = 'http://127.0.0.1:8000/api/average/?name=MSFT'
        }
        if(val == '4'){
          link = 'http://127.0.0.1:8000/api/lowest/'
        } 
        if(val == '5'){
          link = 'http://127.0.0.1:8000/api/lessthan/?name=GOOG'
        } 
    $.getJSON(link, function (data) {
      var tab = $("<table border='1' class='table table-hover bootstrap-table'></table>");
        // 3 行循环3次
        var row = $("<tr></tr>");
        if(val == '1'||val=='2'){
            row.append($("<td>" + "id" + "</td>"));
        row.append($("<td>" + "name" + "</td>"));
        row.append($("<td>" + "time" + "</td>"));
        row.append($("<td>" + "open" + "</td>"));
        row.append($("<td>" + "close" + "</td>"));
        row.append($("<td>" + "high" + "</td>"));
        row.append($("<td>" + "low" + "</td>"));
        row.append($("<td>" + "volume" + "</td>"));
        tab.append(row);
        
        for(var i = 0; i < data.length; i++){
            row = $("<tr></tr>");
            
            row.append($("<td>" + data[i]["id"] + "</td>"));
            row.append($("<td>" + data[i]["name"] + "</td>"));
            row.append($("<td>" + data[i]["time"] + "</td>"));
            row.append($("<td>" + data[i]["open"] + "</td>"));
            row.append($("<td>" + data[i]["close"] + "</td>"));
            row.append($("<td>" + data[i]["high"] + "</td>"));
            row.append($("<td>" + data[i]["low"] + "</td>"));
            row.append($("<td>" + data[i]["volume"] + "</td>"));
            tab.append(row);
        }
        
        }
        else if(val == '3' || val == '4'){
            row.append($("<td>" + "name" + "</td>"));
            row.append($("<td>" + "price" + "</td>"));
            tab.append(row);
        
        for(var i = 0; i < data.length; i++){
            row = $("<tr></tr>"); 
            row.append($("<td>" + data[i]["name"] + "</td>"));
            row.append($("<td>" + data[i]["price"] + "</td>"));
            tab.append(row);
        }
    }
        else if(val == '5'){
            row.append($("<td>" + "id" + "</td>"));
            row.append($("<td>" + "name" + "</td>"));
            tab.append(row);
        
        for(var i = 0; i < data.length; i++){
            row = $("<tr></tr>"); 
            row.append($("<td>" + data[i]["id"] + "</td>"));
            row.append($("<td>" + data[i]["name"] + "</td>"));
            tab.append(row);
        }
    }
        $("#div").append(tab);
    }
    );

 
        
  

}
</script>
</body>

</html>
