<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td>
            <input type="text" name="username" value="" placeholder = "user name">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td>
            <input type="password" name="password" value="" placeholder = "password">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td>
            <input type="password" name="verify" value="" placeholder = "verify password">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" name="email" value="" placeholder = "Email (optional)">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>
      </table>

      <input type="submit">
      <a href="/login"><input type="button" name="Login" value="Login"/></a>
    </form>
  </body>

</html>
