<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino Pro - Dashboard</title>

<link href="{{STACTIC_URL}}/static/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STACTIC_URL}}/static/css/datepicker3.css" rel="stylesheet">
<link href="{{STACTIC_URL}}/static/css/styles.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<link href="css/rgba-fallback.css" rel="stylesheet">
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->



</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Stock</span>Predictor</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li class="active"><a href="index.html"><span class="glyphicon glyphicon-stats"></span> Stock Prediction</a></li>
			<li><a href="/stockPrediction/query/"><span class="glyphicon glyphicon-tasks"></span> stock manage</a></li>
			<li><a href="charts.html"><span class="glyphicon glyphicon-user"></span> user info</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="login.html"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Stock Predicion</li>
			</ol>
		</div><!--/.row-->

		<div class="row row-margin-top">
			<div class="col-xs-12 col-md-9">
				<div class="col-md-5 panel-widget">
					<div class="row no-padding">
						<div class="col-lg-12 widget-right">
							<div class="large">SELECT THE STOCK</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<select id = "stock-select"  class="form-control">
						<option>YHOO</option>
						<option>APPL</option>
						<option>GOOG</option>
						<option>AMZN</option>
						<option>MSFT</option>
						<option>BAC</option>
						<option>FB</option>
						<option>V</option>
						<option>BX</option>
						<option>BA</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg btn-outline pull-right margin" onclick='showData("todaydata");onePrediction();fivePrediction()'>REFRESH</button>
			</div>

		</div>
		
		<div class="row col-no-gutter-container row-margin-top">
			<div class="col-lg-12 col-no-gutter">
				<div class="panel panel-default">
					<ul class="nav nav-tabs">
						<li id = "info1" class="active"><a data-toggle="tab" href="#tab1" onclick='showData("todaydata")'>TODAY</a></li>
						<li id = "info2" ><a data-toggle="tab" href="#tab2" onclick='showData("hisdata")'>HISTORY</a></li>
					</ul>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<div id="information-container" style="height: 350px; min-width: 310px"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row row-no-gutter col-no-gutter-container">
			<div class="col-md-4 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">1day prediction</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<div id="1day-prediction-container" style=" height: 250px;"></div>
						</div>
					</div>
				</div>
			</div><!--/.col-->
			
			<div class="col-md-8 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading">5days predicion</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<div id="5days-prediction-container" style=" height: 250px;"></div>
						</div>
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->
		

	</div>	<!--/.main-->

	<script src="{{STACTIC_URL}}/static/js/jquery-1.11.1.min.js"></script>
	<script src="{{STACTIC_URL}}/static/js/bootstrap.min.js"></script>
	<script src="{{STACTIC_URL}}/static/js/chart.min.js"></script>
	<script src="{{STACTIC_URL}}/static/js/chart-data.js"></script>
	<script src="{{STACTIC_URL}}/static/js/easypiechart.js"></script>
	<script src="{{STACTIC_URL}}/static/js/easypiechart-data.js"></script>
	<script src="{{STACTIC_URL}}/static/js/bootstrap-datepicker.js"></script>
	<script src="{{STACTIC_URL}}/static/js/custom.js"></script>
    <script src="{{STACTIC_URL}}/static/js/highstock.src.js"></script>
    <script src="{{STACTIC_URL}}/static/js/indicators.js"></script>
    <script src="{{STACTIC_URL}}/static/js/sma.js"></script>
    <script src="{{STACTIC_URL}}/static/js/ema.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src= "https://rawgit.com/laff/technical-indicators/master/technical-indicators.src.js"></script>
	<script>
	window.onload = function(){
		// Set theme
		Highcharts.theme = {
			colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
				"#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
			chart: {
				backgroundColor: 'transparent'
			},
			title: {
				style: {
					color: '#E0E0E3',
					textTransform: 'uppercase',
					fontSize: '20px'
				}
			},
			subtitle: {
				style: {
					color: '#E0E0E3',
					textTransform: 'uppercase'
				}
			},
			xAxis: {
				gridLineColor: '#707073',
				labels: {
					style: {
						color: '#E0E0E3'
					}
				},
				lineColor: '#707073',
				minorGridLineColor: '#505053',
				tickColor: '#707073',
				title: {
					style: {
						color: '#A0A0A3'

					}
				}
			},
			yAxis: {
				gridLineColor: '#707073',
				labels: {
					style: {
						color: '#E0E0E3'
					}
				},
				lineColor: '#707073',
				minorGridLineColor: '#505053',
				tickColor: '#707073',
				tickWidth: 1,
				title: {
					style: {
						color: '#A0A0A3'
					}
				}
			},
			tooltip: {
				backgroundColor: 'rgba(0, 0, 0, 0.85)',
				style: {
					color: '#F0F0F0'
				}
			},
			plotOptions: {
				series: {
					dataLabels: {
						color: '#B0B0B3'
					},
					marker: {
						lineColor: '#333'
					}
				},
				boxplot: {
					fillColor: '#505053'
				},
				candlestick: {
					lineColor: 'white'
				},
				errorbar: {
					color: 'white'
				}
			},
			legend: {
				itemStyle: {
					color: '#E0E0E3'
				},
				itemHoverStyle: {
					color: '#FFF'
				},
				itemHiddenStyle: {
					color: '#606063'
				}
			},
			credits: {
				style: {
					color: '#666'
				}
			},
			labels: {
				style: {
					color: '#707073'
				}
			},

			drilldown: {
				activeAxisLabelStyle: {
					color: '#F0F0F3'
				},
				activeDataLabelStyle: {
					color: '#F0F0F3'
				}
			},

			navigation: {
				buttonOptions: {
					symbolStroke: '#DDDDDD',
					theme: {
						fill: '#505053'
					}
				}
			},

			// scroll charts
			rangeSelector: {
				buttonTheme: {
					fill: '#505053',
					stroke: '#000000',
					style: {
						color: '#CCC'
					},
					states: {
						hover: {
							fill: '#707073',
							stroke: '#000000',
							style: {
								color: 'white'
							}
						},
						select: {
							fill: '#000003',
							stroke: '#000000',
							style: {
								color: 'white'
							}
						}
					}
				},
				inputBoxBorderColor: '#505053',
				inputStyle: {
					backgroundColor: '#333',
					color: 'silver'
				},
				labelStyle: {
					color: 'silver'
				}
			},

			navigator: {
				handles: {
					backgroundColor: '#666',
					borderColor: '#AAA'
				},
				outlineColor: '#CCC',
				maskFill: 'rgba(255,255,255,0.1)',
				series: {
					color: '#7798BF',
					lineColor: '#A6C7ED'
				},
				xAxis: {
					gridLineColor: '#505053'
				}
			},

			scrollbar: {
				barBackgroundColor: '#808083',
				barBorderColor: '#808083',
				buttonArrowColor: '#CCC',
				buttonBackgroundColor: '#606063',
				buttonBorderColor: '#606063',
				rifleColor: '#FFF',
				trackBackgroundColor: '#404043',
				trackBorderColor: '#404043'
			},

			// special colors for some of the
			legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
			background2: '#505053',
			dataLabelsColor: '#B0B0B3',
			textColor: '#C0C0C0',
			contrastTextColor: '#F0F0F3',
			maskColor: 'rgba(255,255,255,0.3)'
		};
		// Apply the theme
		Highcharts.setOptions(Highcharts.theme);
		Highcharts.setOptions({
			global : {
				useUTC : false
			},
			exporting: {
				enabled: false
			},
            credits: {
                enabled: false
            }
		});
		
		showData("todaydata");
        onePrediction();
		fivePrediction();

	
	};
	</script>
	<script>
		function showData(mark) {
			var links = ""
			var company = document.getElementById('stock-select').value
     	 	if(mark=="todaydata"){
     	 		links = 'http://127.0.0.1:8000/api/onedaystock/?name='+company;
     	 	}
     		else{
          		links = 'http://127.0.0.1:8000/api/oneyearstock/?format=json&name='+company;
          	}
      
          	
		    $.getJSON(links, function (data) {
		        // Create the chart
		    var res = [];
		        volume = [];
		        groupingUnits = [[
                'week',                         // unit name
                [1]                             // allowed multiples
            	], [
                'month',
                [1, 2, 3, 4, 6]
            	]],
		        name = data[0]["name"];
		        //console.log(document.getElementById('info2').className);
		        //console.log(document.getElementById('info1').className);
		        //console.log(links);
		        if(mark=="hisdata"){
		        	for (var i=data.length-1;i>=0;i--){
			          var info = data[i]; 
			          var time = info["time"];
			          var t = Date.UTC(time.substring(0,4), time.substring(5,7), time.substring(8,time.length));
			          res.push([t, info["open"], info["close"], info["high"], info["low"]]);
			          volume.push([t, info["volume"]]);
			          console.log("history");
		        	}
		    	}
		        else{
		        	console.log("today");
		        	for (var i=data.length-1;i>=0;i--){
			          var info = data[i]; 
			          var time = info["time"];
			          var t = Date.UTC(time.substring(0,4), time.substring(5,7), time.substring(8,10)
			          	, time.substring(11,13), time.substring(14,16), time.substring(17,19));
			          res.push([t, info["price"]]);
			          volume.push([t, info["volume"]]);
		        	}
		        }
		        
		       res.sort();
		       volume.sort();
		       if(document.getElementById('info2').className=="active"){
		       		createChart();
		       } 
		       else{
		       		createChart2();
		       }
		function createChart() {
            var adv_options = {
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0,
                    showInLegend: true
                },
                indicators: [{
                    id: name,
                    type: 'sma',
                    params: {
                        period: 15
                    },
                    showInLegend:true
                }, {
                    id: name,
                    type: 'ema',
                    params: {
                        period: 40,
                        index: 0 //optional parameter for ohlc / candlestick / arearange - index of value
                    },
                    styles: {
                        strokeWidth: 2,
                        stroke: 'green',
                        dashstyle: 'solid'
                    },
                    showInLegend:true
                }],
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],
                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'week',
                        text: 'w'
                    }, {
                        count: 1,
                        type: 'month',
                        text: 'm'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 2
                },
                tooltip: {
                    enabledIndicators: true
                },
                series: [{
                    cropThreshold: 0,
                    id: name,
                    name: name,
                    data: [],
                    tooltip: {
                        valueDecimals: 2
                    },
                    dataGrouping: {
                        units: groupingUnits
                    }
                },{
                    type: 'column',
                    name: 'Volume',
                    data: volume,
                    yAxis: 1,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }]
            };

            adv_options.series[0].type = 'candlestick';
            adv_options.series[0].data = res;

            $('#information-container').highcharts('StockChart', adv_options);

	  }

	  function createChart2() {
          
		$('#information-container').highcharts('StockChart', {
			

            title : {
                text : 'AAPL Stock Price'
            },
            xAxis: {
                type: 'datetime'
            },
    
            yAxis: {
                title : {
                    text : 'Price'
                }
            },
        
            tooltip: {
                crosshairs: true,
                shared: true
            },
            
			rangeSelector : {
				selected : 1
			},
    
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
    
            plotOptions: {
                series: {
                    marker: {
                        enabled: false,
                    }
                }
            },

            series : [{
                name : name,
                type : 'line',
                id: 'primary',
                data : res,
                
            },{
                name: '15-day SMA',
                linkedTo: 'primary',
                showInLegend: true,
                type: 'trendline',
                algorithm: 'linear',
                
            }, {
                name: '15-day SMA',
                linkedTo: 'primary',
                showInLegend: true,
                type: 'trendline',
                algorithm: 'SMA',
                periods: 15
            }, {
                name: '40-day EMA',
                linkedTo: 'primary',
                showInLegend: true,
                type: 'trendline',
                algorithm: 'EMA',
                periods: 15
            }]
		});
	  }

	});
};
	</script>
	<script>
		function onePrediction() {
			
			var company = document.getElementById('stock-select').value
			var svm = "http://127.0.0.1:8000/api/dayPrediction/?name="+company+"&strategy=SVM&days=1";
			var bayes = "http://127.0.0.1:8000/api/dayPrediction/?name="+company+"&strategy=Bayesian&days=1";
            //console.log(svm);
		$.getJSON(svm, function (data1){
		$.getJSON(bayes, function (data2){
		res1 = [];
		res2 = [];	
		
//console.log(data1)
            //console.log(data2)
			          var info = data1[0];
			          var time = info["time"];
			          var t = Date.UTC(time.substring(0,4), time.substring(5,7), time.substring(8,time.length));
			          res1.push([t, info["price"]]);
			          




			          var info2 = data2[0];
			          var time2 = info2["time"];
			          var t2 = Date.UTC(time.substring(0,4), time.substring(5,7), time.substring(8,time.length));
			          res2.push([t2, info2["price"]]);
			          


		//console.log(info)
            //console.log(res2)
            //console.log(res2[res2.length-2][1])
		$('#1day-prediction-container').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: ''
			},
			xAxis: {
				categories: ['Closing price' ]
			},
			credits: {
				enabled: false
			},
			series: [{
				name: 'SVM',
				data: [res1[res1.length-1][1]]
			}, {
				name: 'Naive Bayesian',
				data: [res2[res1.length-1][1]]
			}]
		});
	 });
	});
	}
	</script>
	<script>
		function fivePrediction() {
		var res = [];
		var company = document.getElementById('stock-select').value
		var ann = "http://127.0.0.1:8000/api/dayPrediction/?name="+company+"&strategy=ANN&days=5";
            //console.log(ann);
		$.getJSON(ann, function (data){
		for (var i=data.length-1;i>=0;i--){
			          var info = data[i]; 
			          var time = info["time"];
			          var t = Date.UTC(time.substring(0,4), time.substring(5,7), time.substring(8,time.length));
			          res.push([t, info["price"]]);
			          
		        	}

		var final = [];
		for(var i = res.length-1;i>=res.length-5;i--){
			final.push(res[i])
		}
            console.log("haha")
		console.log(final)
		$('#5days-prediction-container').highcharts({
			chart: {
				type: 'spline'
			},
			title: {
				text: ''
			},
			xAxis: {
				type: 'datetime',
				dateTimeLabelFormats: { // don't display the dummy year
					month: '%e. %b',
					year: '%b'
				},
				title: {
					text: 'Date'
				}
			},
			yAxis: {
				title: {
					text: 'Snow depth (m)'
				},
				min: 0
			},
			tooltip: {
				headerFormat: '<b>{series.name}</b><br>',
				pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
			},

			plotOptions: {
				spline: {
					marker: {
						enabled: true
					}
				}
			},

			series: [{
				name: 'SVM',
				// Define the data points. All series have a dummy year
				// of 1970/71 in order to be compared on the same x axis. Note
				// that in JavaScript, months start at 0 for January, 1 for February etc.
				data: final
			}]
		});
	});
	};
	</script>
</body>

</html>
